Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-no-malloc,
  -modernize-use-nodiscard,
  -bugprone-exception-escape,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-narrowing-conversions
CheckOptions:
  - key: cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion
    value: 'false'
  - key: bugprone-unused-raii.Threshold
    value: '2'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
